<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ECTunes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ECTunes.Properties.Settings>
            <setting name="acc_zero_x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="acc_zero_y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="acc_zero_z" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="acc_direction_x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="acc_direction_y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="acc_direction_z" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gy_zero_x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gy_zero_y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gy_zero_z" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gy_direction_x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gy_direction_y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gy_direction_z" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="noise_calibration_threshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="acceleration_threshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chk_tsmTools_RealTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkAccX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkAccY" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkAccZ" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkGyX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkGyY" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkGyZ" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkRAcc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkRGy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkRTot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkVelocity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tkbScale" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="chk_tsmTools_mute" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="endpoint_ajustment" serializeAs="String">
                <value>1</value>
            </setting>
        </ECTunes.Properties.Settings>
    </userSettings>
</configuration>